---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/exchange/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - d181df21-7401-4897-99ed-8e4c53f228e0
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "status": {
                "timestamp": "2026-02-22T09:26:54.582Z",
                "error_code": 1006,
                "error_message": "Your API Key subscription plan doesn't support this endpoint.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
  recorded_at: Sun, 22 Feb 2026 09:26:54 GMT
recorded_with: VCR 6.4.0
